## package
package $javaModel.packageName;

## import
#foreach ( $import in $javaModel.imports )
import $import.name;
#end

#if ( $javaModel.body.get().isClass())
## case of Class
#if($javaModel.body.get().isModifiers())
#foreach($modifier in $javaModel.body.get().modifiers)$modifier.name #end
#end
class $javaModel.body.get().name#if($javaModel.body.get.isExtendsClass()) extends $javaModel.body.get().extendsClass.name#end #if($javaModel.body.get.isInterfaces())implements #foreach($interface in $javaModel.body.get().interfaces)$interface.name#end
#* *# #end{
    #parse("template/member.vm")
#else
## case of Interface
interface $javaModel.body.get().name {
    #parse("template/member.vm")
#end
}
